/**
 * This file extends index.html and index.js.
 *
 * The file defines several CSS styles to be used in the script and HTML DOM.
 *
 * Name: Maud van Boven
 * Student ID: 12474673s
 */


#play-button {
    position: relative;
    top: -45px;
    left: 0px;
    background: #f08080;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
}

#play-button:hover {
    background-color: #696969;
}

.ticks {
    font-size: 10px;
    color: white;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}


/* define axis styles */
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}
.x.axis path {
    stroke: none;
}
.label {
    font-size: 12px;
}



/* define general HTML elements and classes styles */
body {
    color: #EAEAEA;
    font-family: 'Abel';
    background-color: #232323;
}
h2.title {
    position: relative;
    top: -50px;
    height: 0px;
    width: 1000px;
    font-size: 100px;
    color: #EAEAEA;
    font-family: 'StarTrek';
}
p.student {
    font-variant: small-caps;
    font-weight: bold;
}
p.conclusion {
    position: relative;
    float: left;
}
